body {
  background-color: rgb(211, 204, 225);
}

#equals {
  background-color: #d3c6c7;
  color: black;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

#clear {
  background-color: #dc3545;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
button {
  background-color: rgb(209, 231, 232);
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px 20px;
  margin-right: 5px;
  font-size: 14px;
}

#plus:hover,
#minus:hover,
#times:hover,
#divide:hover,
#equals:hover {
  background-color: rgb(78, 235, 250);
}
#clearFields:hover {
  background-color: rgb(235, 137, 181);
}
button:active {
  transform: scale(0.93);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

#plus,
#minus,
#times,
#divide,
#clearFields {
  background-color: #d3c6c7;
  color: black;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

input[type="number"] {
  width: 120px;
  height: 25px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.result {
  border-bottom: 1px solid black;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

#list {
  text-align: center;
  list-style-type: none;
  margin-right: 45px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 60%;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(208, 193, 247);
}
